/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
    #container {
        background-color: #f00; /*red*/
        padding: 0px;
    }
    
                   
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
    
    #container {
        background-color: #ffd800; /*yellow*/
    }
    
    .box {
        margin: 0px;
        padding: 0px;
    }
    
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
#container {
        background-color: #4800ff; /*purple*/
        
    }

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */

/* try to fit 3 cols*/
.mobile-column { width: 200px; }
.mobile-column img { max-width: 200px; }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
.mobile-column { width: 280px; }
.mobile-column img { max-width: 280px; }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
    #container {
        background-color: rgb(242,240,240);
        padding: 10px;
    }    
    
    .box {
        margin: 5px;
        padding: 5px;
    }
    
    .mobile-column { width: 280px; }
    .mobile-column img { max-width: 280px; }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}
