<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="favicon.ico" />
    <title>@ViewBag.Title</title>

    @RenderSection("View_HeadSection",false)
</head>

<body>
    @RenderBody()
</body>

    @RenderSection("View_FootSection",false)
</html>
