

#container {
  /*background: #FFF;*/
  /*padding: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  clear: both;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;*/
}


.box {
  margin: 5px;
  padding: 15px;
  background: #fff;
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.col1 { width: 280px; }
.col1 img { max-width: 280px; }


/**** Gutters ****/
/*.has-gutters .box {
  margin: 5px 0;
}

.has-gutters .col1 { width: 90px; }

/**** Clearfix ****/
/*.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }*/



