@{
    ViewBag.Title = "White Label Development Ltd. :: Neil Thompson - Curriculum Vitae  :: Freelance .NET ASP.NET WinForm MVC C# Developer :: Cornwall :: UK";
}
@section View_HeadSection
{
    <meta name="viewport" content="width=device-width" />

    @Html.CssLink("cv.css")
    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300'
        rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
}


<div id="top">
    <div id="cv" class="instaFade">
        <div class="mainDetails">
            <div id="headshot" class="quickFade">
                <img src="Images/me-leaves-128x128.jpg" alt="Neil Thompson" />
            </div>

            <div id="name">
                <h1 class="quickFade delayTwo">Neil Thompson</h1>
                <h2 class="quickFade delayThree">Software Developer</h2>
            </div>

            <div id="contactDetails" class="quickFade delayFour">
                <ul>
                    <li>Treven Barn, Treven Lane, Hayle, Cornwall, TR27 6EB</li>
                    <li>e: <script type="text/javascript">
                                /* http://rumkin.com/tools/mailto_encoder/simple.php */
                                ML = "ire>unlkc-f<@@wa=t/.vd mop\"h:b";
                                MI = ";>EJ12:?IF>06@GK5206<=J0@296>L269D2C26GHF25@B8GB47I35206<=J0@296>L269D2C26GHF25@B8GB47;A>3";
                                OT = "";
                                for (j = 0; j < MI.length; j++) {
                                    OT += ML.charAt(MI.charCodeAt(j) - 48);
                                } document.write(OT);
                                </script></li>
                    <li>w: <a href="http://www.white-label-development.co.uk">www.white-label-development.co.uk</a></li>
                    <li>t: 01736 850032</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div id="mainArea" class="quickFade delayFive">
            

            <section>
                <div class="sectionTitle">
                    <h1>Key Skills</h1>
                </div>

                <div class="sectionContent">
                    <ul class="keySkills">
                        <li>ASP.NET</li>
                        <li>ASP.NET MVC</li>
                        <li>WCF</li>
                        <li>Web Services</li>
                        <li>AJAX</li>
                        <li>SQL Server</li>
                        <li>IIS</li>
                        <li>Cloud Computing</li>
                        <li>Entity Framework</li>
                        <li>EDI</li>
                        <li>REST</li>
                        <li>jQuery</li>
                        <li>Knockout</li>
                        <li>TDD</li>
                        <li>Kan-Ban</li>
                        <li>Refactoring</li>
                        <li>Maintenance</li>
                        <li>Support</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </section>

            <section>
                <article>
                    <div class="sectionTitle">
                        <h1>Summary</h1>
                    </div>

                    <div class="sectionContent">
                        <p>I am a seasoned software developer, working mainly within the Microsoft product stack.</p>
                        <p>I tend to develop web services and web applications – web sites that require ‘back-end’ processing, business rules and logic.</p>                             
                        <p>The majority of my recent work has been large, enterprise level private applications that encapsulate a company’s workflow: 
                            software that streamlines internal process and therefore saves money. 
                            <br />I enjoy building smaller websites as well.</p>
                        <p>I have experience of Windows Server management and Cloud Hosting (Windows Azure and Amazon).
                            Many clients trust me with administrator access to their servers via Remote Desktop access or VPN’s.</p>
                        <p>I’ve built all kinds of websites over the years. It's interesting.  It's challenging. I love it.</p>
                    </div>
                </article>
                <div class="clear"></div>
            </section>


            <section>
                <div class="sectionTitle">
                    <h1>Employment History</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>White Label Development</h2>
                        <p class="subDetails">Owner - March 2012 - Present</p>
                        <p>White Label Development is my new company, offering out-sourced or freelance software development services. 
                            I choose the name after having worked for almost four years under Non-Disclosure Agreements – essentially 
                            writing web applications I can never talk about! 
                            <br />I realised the market for discreet out-sourcing was probably quite large (it is), so WLD was formed.</p>
                    </article>

                    <article>
                        <h2>Kingsbury Shaw</h2>
                        <p class="subDetails">Technical Director - Jan 2006 - March 2012</p>
                        <p>After two years as a developer with Kingsbury Shaw I accepted the role of Technical Director and began to play a guiding role in the development of the company. 
                            I initiated the move away from the office to online collaborative working 
                            and implemented appropriate tools to meet the challenges of remote software development. 
                            I was key to the process of moving Kingsbury Shaw towards becoming an 'Agile' company.</p>
                    </article>

                    <article>
                        <h2>Jump Media</h2>
                        <p class="subDetails">Application Developer - April 2004 - January 2006</p>
                        <p>At Jump Media I played a variety of roles. 
                            I was expected to deal with any technical issue which may arise. 
                            I also met with clients, wrote quotes and draft development plans. 
                            I developed a wide variety of applications, including an advanced e-commerce facility that has been ‘rolled out’ many times and included some quite famous clients.</p>
                    </article>

                    <article>
                        <h2>Concept 2100</h2>
                        <p class="subDetails">Internet Application Developer - April 2000 - April 2004</p>
                        <p>I developed Internet applications for a variety of clients. 
                            I created in-house products such as web statistics management tools; scheduled server maintenance scripts and log archiving facilities. 
                            I specialised in e-commerce facilities and developed an online shop whose variants can be seen in many live sites today.</p>
                    </article>

                    <article>
                        <h2>Rivendell Software</h2>
                        <p class="subDetails">Junior Developer - April 1999 - March 2000</p>
                        <p>I had the dubious honour of being the only person employed by Rivendell Software who had not achieved a first at University. 
                            I learnt a great deal about software development from my peers.</p>
                    </article>

                    <article>
                        <h2>Webpage-Marketing</h2>
                        <p class="subDetails">Junior Developer - January 1999 - March 1999</p>
                        <p>Webpage-Marketing employed me to develop data driven websites using SQL Server and (classic) ASP. 
                            I enjoyed seeing several small projects through from conception to completion 
                            and also worked on larger sites, such as the Guinness Intranet, 'Blockbuster Video' and 'Jazz FM'.</p>
                    </article>

                </div>
                <div class="clear"></div>
            </section>


            


            <section>
                <div class="sectionTitle">
                    <h1>Education</h1>
                </div>

                <div class="sectionContent">
                    <article>
                        <h2>University of Brighton</h2>
                        <p class="subDetails">BSc.(hons) Computer Science (2:1)</p>
                        <p>Final Year Project: 'A VRML Orrery' (first)</p>
                    </article>
                </div>
                <div class="clear"></div>
            </section>

        </div>
    </div>



    
</div>

